.task {

}

.comptrueshowtrue {
    /*display: grid;
    border: 3px solid green;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr;*/
}
.compfalseshowtrue{
    /*display: grid;
    border: 3px solid green;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr;*/
}

.comptrueshowfalse{
    display: none;
}

.edit {

    background-color: aquamarine;
}

input[type="checkbox"]{
}

input[type="checkbox"]:checked + label{
    text-decoration: line-through;
}

.taskLabel{

}