body{
    font-size: 250%;
    font-family: "Arial", sans-serif;
    text-align: center;
}

input[type="checkbox"]{
    transform: scale(3.0);

}

input[type="checkbox"]:checked + label{
    transform: scale(3.0);
    text-decoration: line-through;

}


input[type="text"]{
    border-width: 0.5px;
    width: 200px;
    height: 30px;
}

#create{
    font-size: 0.6em;
    background-color: aquamarine;
    width: 150px;
    height: 35px;
}

.edit{
    font-size: 0.6em;
    background-color: aquamarine;
    width: 75px;
    height: 35px;

}

#confEdit{
    font-size: 0.6em;
    background-color: aquamarine;
    width: 150px;
    height: 35px;

}


#clear{
    font-size: 0.6em;
    background-color: aquamarine;
    width: 270px;
    height: 40px;
}

#hide{
    font-size: 0.6em;
    background-color: skyblue;
    width: 270px;
    height: 40px;
}

#show{
    font-size: 0.6em;
    background-color: skyblue;
    width: 270px;
    height: 40px;
}

div.tasks{
    line-height:1.5;
}

